html, body{
  height:100%;
}

body{
  background-image: url(../images/veggies.jpg);
  background-size: cover;
  /*background-position: bottom;
  background-repeat: no-repeat;*/
  overflow: hidden;
  text-align: center;
  color: white;

}

#wrapper{
  margin-left: 375px;
  width:960px;
  height: 95%;
  box-sizing: border-box;
}

#subwrapper{
  position: relative;
  top:15%;
  color: white;
  font-family: 'Roboto', sans-serif;
}
button{
  display:block;
  width:50%;
  height:20%;
  margin: 0 auto;
  border:none;
  cursor: pointer;
  background:transparent;
  font-size: 42px;;
}

img{
  height:200px;
}

h1{
  font-family: 'Yellowtail', cursive;
  font-size: 5.5em;
  font-weight: bold;
  color: white;
  padding-top: 20px;
  color:  white;

}

h2{
  font-size: 35px;
  margin-bottom: 25px;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  color: white;
}

h3{
  font-size: 25px;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  color: white;
}

#start{
  margin-top: -55px;
  border:2px solid #bebab7 ;
  color: #777370;
  font-size: 1.5em;
  background: white;
  width: 150px;
  border-radius: 25px;
    padding: 5px;
}


button:hover {
  border:2px solid white;
  border-radius: 25px;
}
